img {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  display: block;
}

body {
  background: #eae4c4;
  padding: 2rem 0;
}

h1 {
  margin: 0 auto;
  font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #b38a9d; # lilac
}

.intro {
  width: 90%;
  max-width: 900px;
  margin: 32px auto;
  background: white;
  border: 4px solid #4d7787;
  padding: 16px;
  border-radius: 10px;
}
